@import url('httpsz://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,900&display=swap');

body {
  background-color: lightgrey;
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

.stories {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
  max-width: 70em;
  margin: auto;
  
}
.news {
  background-color: white;
  overflow: hidden;
  text-align: left;
  box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,0.5);
  border-radius: 0.5em;
  text-align: center;

}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
  padding: 0;
}

.news-content {
  padding: 0 1em;
  text-align: left;
}

.story-btn {
  display: inline-block;
  width: 95%;
  border: 0.1em solid #000;
  text-decoration: none;
  color: #050707;
  margin-bottom: 1em;
  padding: 0.5em 0;
  font-weight: bold;

}

.story-btn:hover {
  background-color: #000;
  color: #fff;
}

.pagination {
  text-align: center;
}

.page-num {
  text-decoration: none;
  padding: 0.3em;
  color: #000;
  font-size: 1.2em;
}

.page-num:hover {
  font-weight: bold;
  color: #f0a741;
}

.active {
  color: #f0a741;
  text-shadow: 1px 1px 0000;
}

.pagination-list {
  list-style-type: none;
}

.pagination-list-item {
  display: inline-block;
}

/* *******************************
          MEDIA QUERIES 
**********************************/

/* @media screen and (max-width:40em ) {
  .stories {
    display:block;
  }
  .news {
    font-size: 1.2em;
    margin: 0.5em auto;
    box-shadow: none;
  }

}

@media screen and (min-width: 40em) and (max-width: 60em) {
  
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .news {
    font-size: 1.1em;
  }

} */

@media screen and (min-width:37.5em ) {
  .stories {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
  }
}

@media screen and (min-width:64em ) {
  .stories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width:100em ) {
  body{
    font-size: 1.2em;
  }
  .stories {
    max-width: 83.333333em;
  }
}

